body {
	background-color: black;
}

.card-footer {
	width: 122px;
}

.footer-card-main {
	position: absolute;
	bottom: 20;
	width: 100%;
}

.footer-title {
	color: white;
	font-size: 25px;
}

.tah-title {
	padding-top: 10px;
	font-size: 20px;
	bottom: 0;
	position: absolute;
	padding-left: 55px;
}

.start {
	color: black;
	background-color: #ffcc00;
	width: 100px !important;
	float: right;
	border-radius: 6px;
	border: none;
	font-size: 20px;
}

.btn-disabled {
    /*color: black;*/
    background-color: grey;
    width: 100px !important;
    /*float: right;*/
    /*border-radius: 6px;*/
    /*border: none;*/
    /*font-size: 20px;*/
}

#next {
    color: black;
    background-color: #ffcc00;
    width: 100px;
    float: right;
    border-radius: 6px;
    border: none;
    font-size: 20px;
}

#endgame {
    color: black;
    background-color: #ffcc00;
    width: 150px;
    /*float: right;*/
    border-radius: 6px;
    border: none;
    font-size: 20px;
}

#newgame {
    color: black;
    background-color: #ffcc00;
    width: 150px;
    /*float: right;*/
    border-radius: 6px;
    border: none;
    font-size: 20px;
}

#scoreboard-winners {
    width:280px;
    display: inline-block;
}

.scoreboard {
    text-align: center;
}

.scorecard {
    background-color: white;
    border: 1px solid rgb(189, 186, 186);
    box-shadow: 1px 1px 4px #999;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    height:150px;
}

.scorecard .user-name {
     display:inline;
 }

.scorecard .user-thumbnail {
    float: left;
}

.scorecard .user-score {
    float: right;
}

.container .jumbotron {
    /*height:100%;*/
}

.footer-newgame {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    color: black;
    background-color: #ffcc00;
    /*float: right;*/
    border-radius: 6px;
    border: none;
    font-size: 20px;
}