body {
	background-color: black;
}

.card-footer {
	width: 122px;
}

.footer-card-main {
	position: absolute;
	bottom: 20;
	width: 100%;
}

.footer-title {
	color: white;
	font-size: 25px;
}

.tah-title {
	padding-top: 10px;
	font-size: 20px;
	bottom: 0;
	position: absolute;
	padding-left: 55px;
}

#start {
	color: black;
	background-color: #ffcc00;
	width: 100px;
	float: right;
	border-radius: 6px;
	border: none;
	font-size: 20px;
}