body {
	background-color: black;
}

.tah-title {
	padding-top: 10px;
	color: white;
	font-size: 40px;
	padding-bottom: 20px;
}

#start {
	color: black;
	background-color: #ffcc00;
	width: 100px;
	float: right;
	border-radius: 6px;
	border: none;
	font-size: 20px;
}