h1 {
	font-size: 55px;
	margin: 0px;
}

.card {
	border: 1px solid rgb(189, 186, 186);
	box-shadow: 1px 1px 5px #E2E2E2;
	border-radius: 5px;
	padding: 10px;
	width: 38%;
	height: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px; 

}

.card-wrapper {
	height: 650px;
	padding: 20px;
}

.footer {
	position: absolute;
	bottom: 1em;
	width: 100%;
	text-align: center;
}

.footer-waiting {
	bottom: 85px;
	margin-left: -20px;;
}

.logo {
	width: 50px;
	padding-right: 5px;
}

.twitter {
	right: 5px;
	bottom: 5px;
	position: absolute;
}

#twitter-login {
	cursor: pointer;
	padding-right: 25px;
}

#list-music {
	list-style: none;
	margin: 0px;
	padding: 0px;	
}

.list-music-item {
	border-bottom: 1px solid black;
}

.page-content {
	padding: 1em;
}


.song-artist {
	font-size: 16px;
	margin-top: -40px;	
	padding: 10px;
}

.song-title {
	font-size: 25px;
	padding: 10px;
	line-height: 30px;
	text-transform: uppercase;
}

.user-name {
	text-align: center;
	padding: 10px;
}

.user-thumbnail {
	width: 100px;
	border-radius: 50px;
	border: 1px solid rgb(189, 186, 186);
}
