h1 {
	font-size: 55px;
	margin: 0px;
}

.footer {
	position: absolute;
	bottom: 5px;
}

.logo {
	width: 50px;
}

.twitter {
	right: 5px;
	bottom: 5px;
	position: absolute;
}

#twitter-login {
	cursor: pointer;
}

#list-music {
	list-style: none;
	margin: 0px;
	padding: 0px;	
}

.list-music-item {

	border-bottom: 1px solid black;
}


.song-artist {
	font-size: 16px;
	/*margin-top: -20px;	*/
}

.song-title {
	font-size: 25px;
}
