h1 {
	font-size: 55px;
	margin: 0px;
}

.bop-player {
    padding: 20px;
    background: #EEE;
    text-align:center;
}

.btn-plays {
	padding-left: 8px;
	/*text-align: right;*/
}

.card {
	background-color: white;
	border: 1px solid rgb(189, 186, 186);
	box-shadow: 1px 1px 5px #E2E2E2;
	border-radius: 5px;
	padding: 10px;
	width: 38%;
	height: 150px;
	margin-right: 10px;
	margin-bottom: 10px; 

}

.card-answer {
	text-align: center;
	position: absolute;
	left: 28%;
	margin-top: 10px;
}

.card-option {
	float: left;
}

.card-wrapper {
	height: 650px;
	padding: 20px;
}

.correct {
	font-size: 30px;
	text-align: center;

}

.footer {
	position: absolute;
	bottom: 1em;
	width: 100%;
	text-align: center;
}

.footer-waiting {
	bottom: 85px;
	margin-left: -20px;;
}


.logo {
	width: 50px;
	padding-right: 5px;
}

.myanswer {
	font-size: 20px;
	text-align: center;
	margin-top: 60px;
}

.twitter {
	right: 5px;
	bottom: 5px;
	position: absolute;
}

#twitter-login {
	cursor: pointer;
	padding-right: 25px;
}

#list-music {
	list-style: none;
	margin: 0px;
	padding: 0px;	
}

.list-music-item {
	background-color: white;
	border-radius: 6px;
	box-shadow: 1px 1px 5px #E2E2E2;
	margin: 10px;
	padding: 10px;
}

.page-content {
	padding: 1em;
}


.song-artist {
	color: black;
	font-size: 16px;
	margin-top: -20px;
	padding: 10px;
	margin-bottom: -10px;
}

.song-title {
	color: black;
	font-size: 25px;
	font-weight: bold;
	padding: 10px;
	line-height: 30px;
	text-transform: uppercase;
}

.user-name {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

.user-thumbnail {
	width: 100px;
	border-radius: 50px;
	border: 1px solid rgb(189, 186, 186);
}
